body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #edf5d6;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #555;
}


form {
    text-align: center;
    background-color: rgb(210, 231, 248);
    width: 500px;
    padding: 30px;
    border-radius: 6px;
    height: 300px;
       animation: slideFade 0.8s ease-out forwards;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(73, 52, 94);
    margin-top: 10px;
    margin-bottom: 55px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: brown;
    margin-bottom: 65px;
}
.btn{
    padding: 20px;
    color: white;
    background-color: rgb(98, 98, 195);
    border: none;
    border-radius: 7px;
    font-size: 17px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover{
    opacity: 0.7;
}
.btn:active{
    opacity:0.5;
}
